@font-face {
  font-family: 'lifehack';
  src: url(./fonts/lifehack_medium-webfont.woff) format("woff"), url(./fonts/lifehack_medium-webfont.woff2) format("woff2");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./fonts/ubuntu-b-webfont.woff) format("woff"), url(./fonts/ubuntu-b-webfont.woff2) format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./fonts/ubuntu-light-webfont.woff) format("woff"), url(./fonts/ubuntu-light-webfont.woff2) format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./fonts/ubuntu-medium-webfont.woff) format("woff"), url(./fonts/ubuntu-medium-webfont.woff2) format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url(./fonts/ubuntu-regular-webfont.woff) format("woff"), url(./fonts/ubuntu-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url(./fonts/gagalin-regular-webfont.woff) format("woff"), url(./fonts/gagalin-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal; }

ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; }

li {
  list-style: none; }

.page {
  display: block;
  width: 100%;
  height: 650px; }

.main {
  position: relative;
  width: 100%;
  background-image: url(./images/main_bgrd.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .main::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./images/main_texture.png);
    background-repeat: no-repeat;
    opacity: 0.8; }

.container {
  margin: 0 auto;
  width: 940px; }

header {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center; }

.logo {
  width: 92px; }

.menu__list {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase; }

.menu__item {
  margin-right: 15px; }

.menu__item::after {
  content: "";
  display: inline-block;
  margin-bottom: 3px;
  width: 4px;
  height: 4px;
  margin-left: 15px;
  background-color: #fff;
  border-radius: 50%; }

.menu__item:last-child::after {
  display: none; }

.menu__link {
  text-decoration: none;
  color: white;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500; }

.order {
  height: 35px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100px;
  background-color: #e45028;
  border-radius: 4px;
  border-color: #e45028;
  color: #fff;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 4;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .order:hover {
    background-color: #c1401e;
    border-color: #c1401e; }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-page__text {
  margin-left: 20px;
  margin-top: 70px; }

.title {
  padding: 0;
  margin: 0;
  font-family: 'gagalin';
  font-size: 72px;
  text-transform: uppercase; }

.title--main-page {
  color: #f9b43b; }

.main-page__img {
  width: 44%;
  margin-left: 50px;
  background-image: url(./images/main_burger_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 65px; }

.main-page__desc {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: 'lifehack';
  color: #fff;
  font-size: 65px;
  letter-spacing: -0.02em;
  line-height: 1em; }

.pagination__point {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-bottom: 15px; }

.pagination {
  position: fixed;
  z-index: 5;
  right: 10px;
  top: 95px; }

.pagination__point--active {
  position: relative; }

.pagination__point--active::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #fff;
  background-color: transparent;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-35%, -35%);
  -ms-transform: translate(-35%, -35%);
  transform: translate(-35%, -35%); }

.scroll-down {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  border-top: transparent;
  border-left: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.best {
  background-image: url(./images/best_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.title--best {
  text-align: center;
  margin: 0 auto;
  color: #2f3234;
  padding-top: 130px; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.best__item {
  max-width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2f3234; }

.best__icon {
  max-width: 95px;
  max-height: 89px; }

.best__name {
  margin-top: 35px;
  font-family: 'lifehack';
  font-size: 24px;
  text-align: center; }

.best__desc {
  margin-top: 30px;
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  line-height: 1.4em; }

.burger {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #eb8d38), color-stop(85%, #f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background: -o-linear-gradient(top, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background: linear-gradient(to bottom, #f9b43b, #eb8d38 50%, #f9b43b 85%);
  background-repeat: no-repeat; }

.burger-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 140px; }

.title-burger {
  color: #fff; }

.burger-page__img {
  max-width: 505px;
  max-height: 329px; }

.burger-page__text {
  color: #fff;
  margin-top: 45px;
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px; }

.burger-page__order {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.burger-page__price {
  font-family: 'gagalin';
  font-size: 72px;
  text-transform: uppercase;
  color: #e35028; }

.burger-page__rub {
  font-family: 'gagalin';
  font-size: 30px;
  text-transform: uppercase;
  color: #e35028;
  margin-left: 8px;
  margin-right: 20px; }
